<div class="sidenav">

    <a routerLink="/home-page" class="nav-item">
        <img class="nav-icon" src="../../assets/img/home-icon.png">
    </a>

    <a routerLink="/post-page" class="nav-item">
        <img class="nav-icon" src="../../assets/img/POST-icon.png">
    </a>

    <a routerLink="/put-page" class="nav-item">
        <img class="nav-icon" src="../../assets/img/PUT-icon.png">
    </a>

    <a routerLink="/get-page" class="nav-item">
        <img class="nav-icon" src="../../assets/img/GET-icon.png">
    </a>

    <a routerLink="/del-page" class="nav-item">
        <img class="nav-icon" src="../../assets/img/DEL-icon.png">
    </a>

</div>
