<div class="sidenav">

    <a href="#" class="nav-item">
        <img class="nav-icon" src="../../assets/img/home-icon.png">
    </a>

    <a href="#" class="nav-item">
        <img class="nav-icon" src="../../assets/img/POST-icon.png">
    </a>

    <a href="#" class="nav-item">
        <img class="nav-icon" src="../../assets/img/PUT-icon.png">
    </a>

    <a href="#" class="nav-item">
        <img class="nav-icon" src="../../assets/img/GET-icon.png">
    </a>

    <a href="#" class="nav-item">
        <img class="nav-icon" src="../../assets/img/DEL-icon.png">
    </a>

</div>
