<div class="container">
  <h2>Get By ID</h2>
  <form>
    <div class="form-group">
      <label for="objects">Object:</label>

      <select (change)="onChange($event.target.value)" class="form-control" id="objects" required>
        <option *ngFor="let obj of objects" [value]="obj">{{obj}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" id="id" #id required>
    </div>
  </form>

  <span *ngIf="selectedOption === 'Customer'">
      <app-customer></app-customer>
  </span>

  <app-category></app-category>
</div>
