<!--GET Category section-->

<div *ngIf="location == '/get-page'">
  <div class="form-group">
    <h3>Search Method:</h3>
    <form>
      <input type="radio" name="searchMethod" value="byId" checked (click)="setById(true)"> By Id<br>
      <input type="radio" name="searchMethod" value="byPage" (click)="setById(false)"> By Page<br>
    </form>
  </div>

  <form *ngIf="isById()" id="formById">
    <div class="form-group">
      <label for="categoryId">Category Id:</label>
      <input class="form-control" id="categoryId" #categoryId />
    </div>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="searchById(categoryId.value)">
      Search
    </button>
  </form>

  <form *ngIf="!isById()" id="formAdvanced">
    <div class="form-group">
      <label for="categoryId">Pages:</label>
      <input class="form-control" id="page" #pages />
    </div>
    <div class="form-group">
      <label for="categoryId">Lines per Page:</label>
      <input class="form-control" id="linesPerPage" #linesPerPage />
    </div>
    <div class="form-group">
      <label for="categoryId">Order by:</label>
      <select class="form-control" id="orderBy" #orderBy>
        <option *ngFor="let obj of orderByOptions" [value]="obj">{{obj}}</option>
      </select>
      <label for="categoryId">Direction:</label>
      <select class="form-control" id="direction" #direction>
        <option *ngFor="let obj of directionOptions" [value]="obj">{{obj}}</option>
      </select>
    </div>
    <!-- (click) passes input value to add() and then clears the input -->
    <button  (click)="searchAdvanced(pages.value, linesPerPage.value, orderBy.value, direction.value)">
      Search
    </button>
  </form>

  <div *ngIf="category">
    <h3>Category found:</h3>
    <ul>
      <li>Category Id: {{ category.id || -1 }}</li>
      <li>Category Name: {{category.name}}</li>
      <li>Category Products:</li>
      <ul>
        <li *ngFor="let product of category.productList">
          <ul>
            <li>Product Id: {{product.id}}</li>
            <li>Product Name: {{product.name}}</li>
            <li>Product Price: {{product.price}}</li>
          </ul>
        </li>
      </ul>
    </ul>
  </div>

  <div *ngIf="page">
    <h3>Categories found:</h3>
    <ul>
      <li *ngFor="let category of page.content">
        <ul>
          <li>Category Id: {{category.id}}</li>
          <li>Category Name: {{category.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!--POST Category section-->

<div *ngIf="location == '/post-page'">
  <div class="form-group">
    <h3>Add new Category:</h3>
    <form>
      <div class="form-group">
        <label for="newCategoryName">Category Name:</label>
        <input class="form-control" id="newCategoryName" #newCategoryName />
      </div>
      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="add(newCategoryName.value)">
        Add Category
      </button>
    </form>
  </div>
</div>

<!--PUT Category section-->

<div *ngIf="location == '/put-page'">
  <div class="form-group">
    <h3>Edit Category:</h3>
    <form>
      <div class="form-group">
        <label for="updateCategoryId">Category ID:</label>
        <input class="form-control" id="updateCategoryId" #updateCategoryId />
      </div>
      <button (click)="searchById(updateCategoryId.value)">
        Search Category
      </button>
      <div *ngIf="category" class="form-group">
        <div class="form-group">
          <label for="updateCategoryName">Category Name:</label>
          <input class="form-control" id="updateCategoryName" #updateCategoryName [defaultValue]="category.name"/>
        </div>

        <button (click)="update(updateCategoryName.value)">
          Update Category
        </button>
      </div>


    </form>
  </div>
</div>

<!--DEL Category section-->

<div *ngIf="location == '/del-page'">
  <div class="form-group">
    <h3>Add new Category:</h3>
    <form>
      <div class="form-group">
        <label for="delCategoryId">Category Id:</label>
        <input type="number" class="form-control" id="delCategoryId" #delCategoryId />
      </div>
      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="delete(delCategoryId.value)">
        Add Category
      </button>
    </form>
  </div>
</div>
