<!--GET Category section-->

<div *ngIf="location == 'https://bertorovina.github.io/Humber-2019-showcase-online-store/get-page'">
    <div class="form-group">
        <h3>Search Method:</h3>
        <form>
            <input type="radio" name="searchMethod" value="byId" checked (click)="setById(true)"> By Id<br>
            <input type="radio" name="searchMethod" value="byPage" (click)="setById(false)"> By Page<br>
        </form>
    </div>

    <form *ngIf="isById()" id="formById">
        <div class="form-group">
            <label for="categoryId">Category Id:</label>
            <input class="form-control" id="categoryId" #categoryId />
        </div>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="searchById(categoryId.value)">
            Search
        </button>
    </form>

    <form *ngIf="!isById()" id="formAdvanced">
        <div class="form-group">
            <label for="categoryId">Pages:</label>
            <input class="form-control" id="page" #pages />
        </div>
        <div class="form-group">
            <label for="categoryId">Lines per Page:</label>
            <input class="form-control" id="linesPerPage" #linesPerPage />
        </div>
        <div class="form-group">
            <label for="categoryId">Category by:</label>
            <select class="form-control" id="orderBy" #orderBy>
                <option *ngFor="let obj of orderByOptions" [value]="obj">{{obj}}</option>
            </select>
            <label for="categoryId">Direction:</label>
            <select class="form-control" id="direction" #direction>
                <option *ngFor="let obj of directionOptions" [value]="obj">{{obj}}</option>
            </select>
        </div>
        <!-- (click) passes input value to add() and then clears the input -->
        <button  (click)="searchAdvanced(pages.value, linesPerPage.value, orderBy.value, direction.value)">
            Search
        </button>
    </form>

    <div *ngIf="category">
        <div class="result-box">


            <h3>Category found:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td colspan="3" class="result-table-header">{{category.name}} - {{ category.id || -1 }}</td>
                </tr>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of category.productList">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="page">
        <div class="result-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td colspan="2">Categories:</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of page.content">
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--POST Category section-->

<div *ngIf="location == 'https://bertorovina.github.io/Humber-2019-showcase-online-store/post-page'">
    <div class="form-group">
        <h3>Add new Order:</h3>
        <form>
            <div class="form-group">
                <label for="newCategoryName">Category Name:</label>
                <input class="form-control" id="newCategoryName" #newCategoryName />
            </div>
            <!-- (click) passes input value to add() and then clears the input -->
            <button type="button" class="btn btn-primary" (click)="add(newCategoryName.value)">
                Add Category
            </button>
        </form>
    </div>
</div>

<!--PUT Category section-->

<div *ngIf="location == 'https://bertorovina.github.io/Humber-2019-showcase-online-store/put-page'">
    <div class="form-group">
        <h3>Edit Order:</h3>
        <form>
            <div class="form-group">
                <label for="updateCategoryId">Category ID:</label>
                <input class="form-control" id="updateCategoryId" #updateCategoryId />
            </div>
            <button type="button" class="btn btn-primary" (click)="searchById(updateCategoryId.value)">
                Search Order
            </button>
            <div *ngIf="category" class="form-group">
                <div class="form-group">
                    <label for="updateCategoryName">Category Name:</label>
                    <input class="form-control" id="updateCategoryName" #updateCategoryName [defaultValue]="category.name"/>
                </div>

                <button type="button" class="btn btn-primary" (click)="update(updateCategoryName.value)">
                    Update Order
                </button>
            </div>


        </form>
    </div>
</div>

<!--DEL Category section-->

<div *ngIf="location == 'https://bertorovina.github.io/Humber-2019-showcase-online-store/del-page'">
    <div class="form-group">
        <h3>Delete a Order:</h3>
        <form>
            <div class="form-group">
                <label for="delCategoryId">Category Id:</label>
                <input type="number" class="form-control" id="delCategoryId" #delCategoryId />
            </div>
            <button  type="button" class="btn btn-danger" (click)="delete(delCategoryId.value)">
                Delete Order
            </button>
        </form>
    </div>
</div>
