<!--GET Product section-->

<div *ngIf="location == '/Humber-2019-showcase-online-store/get-page'">
    <div class="form-group">
        <h3>Search Method:</h3>
        <form>
            <input type="radio" name="searchMethod" value="byId" checked (click)="setById(true)"> By Id<br>
            <input type="radio" name="searchMethod" value="byPage" (click)="setById(false)"> By Page<br>
        </form>
    </div>

    <form *ngIf="isById()" id="formById">
        <div class="form-group">
            <label for="productId">Product Id:</label>
            <input class="form-control" id="productId" #productId />
        </div>
        <button type="button" class="btn btn-primary" (click)="searchById(productId.value)">
            Search
        </button>
    </form>

    <form *ngIf="!isById()" id="formAdvanced">
        <div class="form-group">
            <label for="productId">Pages:</label>
            <input class="form-control" id="page" #pages />
        </div>
        <div class="form-group">
            <label for="productId">Lines per Page:</label>
            <input class="form-control" id="linesPerPage" #linesPerPage />
        </div>
        <div class="form-group">
            <label for="productId">Order by:</label>
            <select class="form-control" id="orderBy" #orderBy>
                <option *ngFor="let obj of orderByOptions" [value]="obj">{{obj}}</option>
            </select>
            <label for="productId">Direction:</label>
            <select class="form-control" id="direction" #direction>
                <option *ngFor="let obj of directionOptions" [value]="obj">{{obj}}</option>
            </select>
        </div>
        <button  type="button" class="btn btn-primary" (click)="searchAdvanced(pages.value, linesPerPage.value, orderBy.value, direction.value)">
            Search
        </button>
    </form>

    <div *ngIf="product">
        <div class="result-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td colspan="3" class="result-table-subheader">Product</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Price</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ product.id || -1 }}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="page">
        <div class="result-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="result-table-subheader">Products</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of page.content">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--POST Product section-->

<div *ngIf="location == '/Humber-2019-showcase-online-store/post-page'">
    <div class="form-group">
        <h3>Add new Product:</h3>
        <form>
            <div class="form-group">
                <label for="newProductName">Product Name:</label>
                <input class="form-control" id="newProductName" #newProductName />
            </div>
            <!-- (click) passes input value to add() and then clears the input -->
            <button type="button" class="btn btn-primary"  (click)="add(newProductName.value)">
                Add Product
            </button>
        </form>
    </div>
</div>

<!--PUT Product section-->

<div *ngIf="location == '/Humber-2019-showcase-online-store/put-page'">
    <div class="form-group">
        <h3>Edit Product:</h3>
        <form>
            <div class="form-group">
                <label for="updateProductId">Product ID:</label>
                <input class="form-control" id="updateProductId" #updateProductId />
            </div>
            <button type="button" class="btn btn-primary" (click)="searchById(updateProductId.value)">
                Search Product
            </button>
            <div *ngIf="product" class="form-group">
                <div class="form-group">
                    <label for="updateProductName">Product Name:</label>
                    <input class="form-control" id="updateProductName" #updateProductName [defaultValue]="product.name"/>
                </div>

                <button (click)="update(updateProductName.value)">
                    Update Product
                </button>
            </div>

        </form>
    </div>
</div>

<!--DEL Product section-->

<div *ngIf="location == '/Humber-2019-showcase-online-store/del-page'">
    <div class="form-group">
        <h3>Delete a Product:</h3>
        <form>
            <div class="form-group">
                <label for="delProductId">Product Id:</label>
                <input type="number" class="form-control" id="delProductId" #delProductId />
            </div>
            <button type="button" class="btn btn-danger"  (click)="delete(delProductId.value)">
                Delete Product
            </button>
        </form>
    </div>
</div>
